<div class="col-4 mt-5 mx-auto">
    <h2>Crear Producto</h2>

    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre"
                [class.is-invalid]="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched" />

            @if(productoForm.get('nombre')?.errors?.['required']) {
                <div class="invalid-feedback">
                    El nombre es obligatorio.
                </div>
            }

            @if(productoForm.get('nombre')?.errors?.['minlength']) {
                <div class="invalid-feedback">
                    Mínimo 3 caracteres.
                </div>
            }

        </div>

        <div class="mb-3">
            <label for="subcategoria_id" class="form-label">Subcategoría del Producto</label>
            <select class="form-control" id="subcategoria_id" formControlName="subcategoria_id"
                [class.is-invalid]="productoForm.get('subcategoria_id')?.invalid && productoForm.get('subcategoria_id')?.touched">
                <option value="" disabled selected>Seleccione un subcategoria</option>
                @for(categoria of categorias; track categoria.id) {
                    <option [value]="categoria.id">{{ categoria.nombre }}</option>
                }
            </select>
            @if (productoForm.get('subcategoria_id')?.errors?.['required']) {
                <div class="invalid-feedback">
                    La categoría es obligatoria.
                </div>
            }

        </div>

        <div class="mb-3">
            <label for="estado" class="form-label">Estado del Producto</label>
            <select class="form-control" id="estado" formControlName="estado"
                [class.is-invalid]="productoForm.get('estado')?.invalid && productoForm.get('estado')?.touched">
                <option value="" disabled selected>Seleccione un estado</option>
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
            </select>
            @if (productoForm.get('estado')?.errors?.['required']) {
                <div class="invalid-feedback">
                    El estado es obligatorio.
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">
            Crear
        </button>
    </form>

    @if (successMessage) {
      <div class="alert alert-success mt-3">
        {{ successMessage }}
      </div>
    }

    @if (errorMessage) {
      <div class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    }
</div>